name: build

on:
  pull_request:
    branches: [main, master]
  push:
    branches-ignore: [main, master]
  workflow_call:
  workflow_dispatch:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read # for checkout

jobs:
  linux-nix:
    uses: SpiralP/github-reusable-workflows/.github/workflows/build.yml@bea5ac78f78d07223139a4835612f5bd44d7c8d5 # main

  many-machines:
    uses: ./.github/workflows/many-machines.yml
