name: build

on:
  pull_request:
    branches: [main, master]
  push:
    branches-ignore: [main, master]
  workflow_call:
  workflow_dispatch:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read # for checkout

jobs:
  linux-nix:
    uses: SpiralP/github-reusable-workflows/.github/workflows/build.yml@a5a21c29a3faa11a9e1519b7a8dfe0c7efce7ce4 # main

  many-machines:
    uses: ./.github/workflows/many-machines.yml
