name: build-and-release

on:
  push:
    branches: [main, master]
  workflow_dispatch:

permissions:
  contents: read # for checkout

jobs:
  build:
    uses: ./.github/workflows/build.yml

  get-version-metadata:
    runs-on: ubuntu-24.04
    needs: build
    if: "${{ success() && always() && ! startsWith(github.event.head_commit.message, 'chore(release): ') }}"
    outputs:
      version-metadata: ${{ steps.get-version-metadata.outputs.version-metadata }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          fetch-tags: true
          submodules: recursive
      - id: get-version-metadata
        run: |
          version_metadata="$(git tag --list 'v*.*.*' |wc -l)"
          test -z "$version_metadata" && echo "version_metadata is empty" && exit 1
          version_metadata="$(( version_metadata + 1 ))"
          echo "version-metadata=$version_metadata" | tee -a "$GITHUB_OUTPUT"

  release:
    uses: SpiralP/github-reusable-workflows/.github/workflows/release.yml@b1fc3f7a9ac8d36aea478c7d09307d933890fe12 # main
    needs: get-version-metadata
    if: ${{ success() && always() && needs.get-version-metadata.outputs.version-metadata }}
    permissions: {} # none, since we use a custom app
    with:
      environment-name: release
      extends: ./.github/semantic-release.json
      replace-files: |
        Cargo.lock
        Cargo.toml
        package-lock.json
        package.json
      version-metadata: ${{ needs.get-version-metadata.outputs.version-metadata }}
    secrets:
      app-id: ${{ secrets.APP_ID }}
      app-private-key: ${{ secrets.APP_PRIVATE_KEY }}
