name: many-machines

on:
  workflow_call:

permissions:
  contents: read # for checkout

defaults:
  run:
    shell: bash

jobs:
  windows-x86_64:
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
      - run: ./.github/scripts/install-build-test.sh x86_64-pc-windows-msvc

  windows-i686:
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
      - run: ./.github/scripts/install-build-test.sh i686-pc-windows-msvc

  linux-x86_64:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
      - run: ./.github/scripts/install-build-test.sh x86_64-unknown-linux-gnu

  linux-i686:
    runs-on: ubuntu-24.04
    steps:
      - name: Install deps
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get -y update
          sudo apt-get -y install gcc-multilib g++-multilib \
            pkg-config:i386 libssl-dev:i386
          echo "PKG_CONFIG_ALLOW_CROSS=1" >> "$GITHUB_ENV"

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
      - run: ./.github/scripts/install-build-test.sh i686-unknown-linux-gnu

  mac-x86_64:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
      - run: ./.github/scripts/install-build-test.sh x86_64-apple-darwin

  mac-aarch64:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
      - run: ./.github/scripts/install-build-test.sh aarch64-apple-darwin
