name: Merge upstream

on:
  schedule:
    - cron: "0 0 1 * *" # monthly
  workflow_dispatch:

concurrency:
  group: merge-upstream-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write # to push branch
  pull-requests: write # to create pr

jobs:
  merge_upstream:
    uses: SpiralP/github-reusable-workflows/.github/workflows/merge-upstream.yml@6a83e785db9881c610aef92219b96263f251aa1e # main
    with:
      url: https://github.com/SpiralP/github-reusable-workflows.git
