name: Merge upstream

on:
  schedule:
    - cron: "0 0 1 * *" # monthly
  workflow_dispatch:

concurrency:
  group: merge-upstream-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write # to push branch
  pull-requests: write # to create pr

jobs:
  merge_upstream:
    uses: SpiralP/github-reusable-workflows/.github/workflows/merge-upstream.yml@a82669da23c4bbc8d0132c06d15cbe90698fa05a # main
    with:
      url: https://github.com/SpiralP/github-reusable-workflows.git
