name: Update nix hashes

on:
  pull_request:
    branches: [master, main]

concurrency:
  group: update-nix-hashes-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write # to push branch

jobs:
  update_nix_hashes:
    # !!! disabled
    if: ${{ false }}
    uses: SpiralP/github-reusable-workflows/.github/workflows/update-nix-hashes.yml@50a0eaf269a8d3333f04efb387537c2731b04749 # main
    with:
      npm-attribute: node
